.first_section{
  background: url("../assets/banner-photo.jpg") center;
  background-size: cover;
  color: #fff;
  padding: 106px 0 114px;
}
.first_section h1 {
  font-size: 49px;
  text-transform: uppercase;
  margin: 0;
  text-align: left;
  width: 520px;
  line-height: 111%;
  color: #fff;
}
.first_section p {
  font-family: $mainFont;
  font-size: 16px;
  text-align: left;
  width: 530px;
  line-height: 150%;
  margin: 28px 0 0;
}
.first_section ._btn {
  margin-top: 34px;
}