header.header{
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 100px;
  height: 100px;
  background-color: #f0f0ff;
}
.top-nav {
  display: flex;
  height: 100%;
  .nav-item {
    margin-right: 29px;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    &:last-child{
      margin-right: 0;
    }
    a {
      text-decoration: none;
      font-family: $mainFont;
      color: $darkTextColor;
      font-size: 14px;
    }
  }
}
