.second_section {
  padding-top: 150px;
}
.second_section h1 {
  font-size: 49px;
}
.second_section .photo-wrapper img{
  width: 335px;
  margin-left: 28px;
}
.description-wrapper {
  margin-left: 50px;
  text-align: left;
}
.description-wrapper h3{
  font-family: $mainFont;
  font-size: 24px;
  font-weight: 400;
  color: $darkTextColor;
  margin: 0px;
  line-height: 100%;
}
.description-wrapper p {
  font-family: $mainFont;
  font-size: 16px;
  font-weight: 400;
  margin: 24px 0;
  text-align: justify;
  line-height: 145%;
}
.description-wrapper p.last-text{
  margin: 30px 0;
}
.bottom-row{
  margin-top: 65px;
}
.description-wrapper .link {
  font-family: $mainFont;
  font-weight: 600;
  text-decoration: none;
  color: $redColor;
}