.users-wrapper {
  margin-top: 302px;

  ._btn{
    margin: 34px auto 0;
    padding: 9px 61px;
  }
}
.users{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
  min-height: 237px;
  width: 100%;

  .user {
    margin-top: 78px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .photo {

    }
    .name {
      font-family: $mainFont;
      font-size: 24px;
      font-weight: 400;
      color: $darkTextColor;
      margin: 10px 0 8px;
    }
    .description {
      font-family: $mainFont;
      font-size: 16px;
      font-weight: 400;
      color: $greyColor;
      text-align: center;
      margin-bottom: 3px;

    }
    p {
      max-width: 240px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
.bs-tooltip-bottom .arrow::before, .bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
  opacity: 0;
}
.tooltip-inner {
  max-width: 100%!important;
}
.spinner{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(218, 218, 218, 0.68);
}